@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
/* font-family: 'Oswald', sans-serif; */

*,
h2,
p,
div,
img,
h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #15ffbc;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__menu {
    width: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.header__title {
    width: 200px;
}

.header__text {
    font-family: "Oswald", sans-serif;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.container-web {
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: space-around;
}
.container-web ul li {
    display: none;
}

.img-car {
    display: flex;
    flex-direction: column;
    justify-items: center;
    display: none;
}
.img-car .img-car--pink {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-car {
    display: none;
}

.middle-container {
    min-width: 100vh;
    background-color: #15ffbc;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
}
.middle-container__title {
    font-size: 1.6rem;
    letter-spacing: 8px;
    padding-top: 2rem;
}
.middle-container__subtitle {
    font-size: 1.6rem;
    letter-spacing: 8px;
    padding-top: 5px;
}
.middle-container__lorem {
    font-size: 1rem;
    word-spacing: 1rem;
    text-align: center;
    text-size-adjust: auto;
}
.middle-container__icon-x {
    padding-top: 2rem;
}
.middle-container__icon-wafe {
    padding-bottom: 2rem;
}

.group-lorem {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.group-lorem__title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
}
.group-lorem__title--sub {
    padding: 1rem;
    letter-spacing: 0.5rem;
    text-decoration: underline;
}

.picture-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-girl {
    display: block;
    display: flex;
    justify-items: center;
    background-position: center center;
    background-size: cover;
}
.container-girl__img-girl {
    width: 60rem;
}

.container-pizza {
    display: block;
    display: flex;
    justify-items: center;
    background-position: center center;
    background-size: cover;
}
.container-pizza__img-piza {
    width: 60rem;
}

.container-dress {
    display: block;
    display: flex;
    justify-items: center;
    background-position: center center;
    background-size: cover;
}
.container-dress__img-dress {
    width: 60rem;
}

footer {
    margin: 0;
    min-width: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.text--one {
    color: #15ffbc;
    font-size: 1.2rem;
}

.text--two {
    color: white;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

div .title-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.links--here {
    text-decoration: line-through;
    color: #fe8cab;
}

.sub-title__text {
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 600;
}

.sub-title__icon {
    margin-top: 2.5rem;
    font-size: x-small;
}

.menu-mobile {
    font-size: 2.8rem;
    margin-top: 2rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.social-media__icon {
    margin: 0;
    padding: 0;
}

.top {
    margin-top: 1.4rem;
    margin-left: 1.4rem;
}

.middle {
    justify-content: center;
    height: 250px;
}

.middle__title {
    font-family: "Oswald", sans-serif;
    margin-left: 2.2rem;
    margin-right: 3rem;
}

.tag {
    margin-top: 2.4rem;
    margin-right: 8.6rem;
    font-size: 1.4rem;
}

.img--pink {
    width: 100vh;
}

.middle-container {
    background-color: #15ffbc;
}
.container-girl__lorem {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    padding: 3rem;
}
@media (min-width: 600px) {
    footer nav {
        display: none;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .end-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .end-section div {
        min-width: 0;
        display: flex;
    }

    .container-pizza__lorem {
        font-size: 2rem;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        padding: 3rem;
    }
    .container-dress__lorem {
        font-size: 2rem;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        padding: 3rem;
    }
    .container-web ul li {
        display: inline;
        padding: 3rem;
        font-size: 6rem;
        font-family: "Oswald", sans-serif;
        padding-bottom: 5rem;
    }
    .header__title {
        width: 600px;
    }
    .video-car {
        display: initial;
    }
    .header__text {
        display: none;
    }
    .header__menu {
        display: none;
    }
    .header {
        justify-content: center;
    }
    .middle-container__title {
        font-size: 6rem;
    }
    .middle-container__subtitle {
        font-size: 4rem;
    }
    .middle-container__lorem {
        font-size: 4rem;
    }
    .group-lorem__title {
        font-size: 4rem;
    }
    .group-lorem__title--sub {
        font-size: 3rem;
    }
    .middle-container__icon-x {
        font-size: 5rem;
    }
    .middle-container__icon-wafe {
        width: 5rem;
    }
    .picture-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .container-pizza__img-piza {
        width: 120rem;
    }
    .container-dress__img-dress {
        width: 120rem;
    }
    .container-girl__img-girl {
        width: 120rem;
    }
    .container-pizza__lorem {
        font-size: 4rem;
    }
    .container-dress__lorem {
        font-size: 4rem;
    }
    .container-girl__lorem {
        font-size: 4rem;
    }
}
