@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
/* font-family: 'Oswald', sans-serif; */
*,
h2,
p,
img {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
}

.header {
    min-width: 100vh;
    display: grid;
    background-color: #15ffbc;
}

footer {
    margin: 0;
    min-width: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}
.text--one {
    color: #15ffbc;
    font-size: 1.2rem;
}
.text--two {
    color: white;
    font-size: 1.5rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

div .title-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.links--here {
    color: #fe8cab;
}

.sub-title__text {
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 600;
}
.sub-title__icon {
    margin-top: 2.5rem;
    font-size: x-small;
}
.menu-mobile {
    font-size: 2.8rem;
    margin-top: 2rem;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.social-media__icon {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vh;
    display: flex;
    background-color: #15ffbc;
    justify-content: space-between;
}

.top {
    margin-top: 1.4rem;
    margin-left: 1.4rem;
}

.middle {
    justify-content: center;
    height: 250px;
}
.middle__title {
    font-family: "Oswald", sans-serif;
    margin-left: 2.2rem;
    margin-right: 3rem;
}

.tag {
    margin-top: 2.4rem;
    margin-right: 8.6rem;
    font-size: 1.4rem;
}

.img--pink {
    width: 100vh;
}

.middle-container {
    background-color: #15ffbc;
}

